/* ================================== Ads =========== */
.ads {
    width: 100%;
}

.ads-margin {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}

.ads-margin-left .ads-title {
    width: 160px;
}

.ads-margin-right .ads-title {
    width: 160px;
}

.ads-title {
    text-align: center;
    background: #1494CA;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.make-ads {
    margin-bottom: 24px;
}

.throw-ads-300x600 {
    width: 300px;
    min-width: 300px;
}

.throw-ads-160x600 {
    width: 160px;
    min-width: 160px;
}

.throw-ads-970x90,
.throw-ads-768x90,
.throw-ads-728x90,
.throw-ads-468x60,
.throw-ads-320x100,
.throw-ads-320x50,
.throw-ads-300x600,
.throw-ads-300x250,
.throw-ads-200x200,
.throw-ads-160x600 {
    display: none;
    overflow: hidden;
}

.throw-ads-300x250 {
    display: block;
}

.throw-ads-970x90 {
    display: block;
}

.responsive-none {
    display: none;
}

.responsive-block {
    display: block;
}

/* @media (min-width:1000px) { */
@media (min-width:800px) {
    .responsive-none {
        display: block;
    }

    .responsive-block {
        display: none;
    }

    .throw-ads-970x90,
    .throw-ads-768x90 {
        display: block;
    }
}

@media (min-width: 1366px) {
    .throw-ads-300x600 {
        width: 160px;
        min-width: 160px;
        display: block;
    }

    .throw-ads-160x600 {
        display: block;
    }
}

@media (min-width:1700px) {
    .throw-ads-left {
        width: 160px;
        min-width: 160px;
    }
}

@media (min-width: 1919px) {
    .throw-ads-300x600 {
        display: block;
    }
}

@media (min-width:600px) and (max-width: 999px) {
    .throw-ads-468x90 {
        display: block;
    }
}

.myads {
    display: none;
    position: absolute;
    top: 118px;
    height: 600px;
    width: 160px;
}

.ads_left {
    /* left: 3px; */
    left: 0;
    text-align: left;

}

.ads_right {
    /* right: 3px; */
    right: 0;
    text-align: right;
}

.team__about h3 {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}


/* @media (min-width: 1366px) and (max-width: 1440px) { */
@media (min-width: 1366px) {
    .container {
        /* max-width: 1046px; */
        max-width: 1060px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1120px;
    }
}

@media (min-width: 1680px) {
    .container {
        max-width: 1380px;
    }
}


@media (min-width: 1880px) {
    .ads_left {
        display: block;
        /* width: 300px; */
    }

    .ads_right {
        display: block;
        /* width: 300px; */
    }
}

/* @media (min-width: 1340px) { */
@media (min-width: 1366px) {
    .ads_left {
        display: block;
    }

    .ads_right {
        display: block;
    }
}

/* @media (min-width: 1220px) {
    .ads_left {
        display: block;
    }

    .ads_right {
        display: block;
    }
} */

.ads,
.ads_left,
.ads_right {
    /* z-index: 2; */
    z-index: 4;
}